<form class="container mt-5" #taskForm="ngForm" (ngSubmit)="updateTask(taskForm.value)">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      ngModel
      #titleModel="ngModel"
      required
      [(ngModel)]="task.title"
    />
    <div class=" error d-flex justify-content-center" *ngIf="titleModel.touched && titleModel.invalid">
        <div *ngIf="titleModel.errors?.['required']">*Title is required*</div>
    </div>
  </div>

 

  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      id="desc"
      name="description"
      ngModel
      #descModel="ngModel"
      required
      [(ngModel)]="task.description"
    />
    <div class=" error d-flex justify-content-center" *ngIf="descModel.touched && descModel.invalid">
        <div *ngIf="descModel.errors?.['required']">*Description is required*</div>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input 
    type="checkbox" 
    class="form-check-input"
     id="completed" 
     name="completed"
      ngModel
      [(ngModel)]="task.completed"
      />
    <label class="form-check-label" for="completed">Completed</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">Submit</button>
</form>
