<form #userForm="ngForm"  class="container mt-5" (ngSubmit)="onSubmit(userForm.value)">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input 
      type="text"
       class="form-control" 
       id="name"
       ngModel
       name="name"
       #name="ngModel"
       required
       >
       <div class="error d-flex justify-content-center"  *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors?.['required']">*Name is required*</div> 
       </div>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input 
        type="number"
         class="form-control" 
         id="age"
         ngModel
         name="age"
         >
         <div class="error d-flex justify-content-center" *ngIf="invalidAge">{{msgAge}}</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input 
        type="text"
         class="form-control" 
         id="email"
         ngModel
         name="email"
         #email="ngModel"
         required
         email
         >
         <div class="error d-flex justify-content-center"  *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors?.['required']">*Email is required*</div> 
          <div *ngIf="email.errors?.['email']">*Please enter valid email*</div> 
         </div>

         <div class="error d-flex justify-content-center" *ngIf="invalidEmail">Sorry Email already in use</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
        type="password"
         class="form-control" 
         id="password"
         ngModel
         name="password"
         #password="ngModel"
         required
         minlength="6"
         >
         <div class="error d-flex justify-content-center"  *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors?.['required']">*Password is required*</div> 
          <div *ngIf="password.errors?.['minlength']">
              *Password minlength is {{password.errors?.['minlength'].requiredLength}}
              .... You have entered {{password.errors?.['minlength'].actualLength}}*</div> 
         </div>
         <div class="error d-flex justify-content-center" *ngIf="invalidPassword">{{msgPassword}}</div>
      </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
  </form>
